.mat-column-check {
	overflow: inherit;
	max-width: 75px;
}

.mat-column-actions {
	max-width: 200px;
}

textarea {
	height: 15px;
}

// .mat-tab-label {
// 	font-family: 'Montserrat', Arial, sans-serif;
// }

// .table-list {
// 	margin: 0 5rem 0 5rem;
// }